body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
  font-size: 12px;
  line-height: calc(21 / 12);
  letter-spacing: 0.04em;

  background-image: url('../images/base-bg-img.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
}
