<footer class="footer">
  <div class="container footer__container">
    <div class="footer__box-first">
      <p class="footer__uppertitle">HOMEMADE ICE CREAM MADE</p>
      <p class="footer__title">WITH PASSION</p>
    </div>
    <div class="footer__box-second">
      <ul class="socials list">
        <li class="socials__item">
          <a
            class="socials__link link"
            href="https://github.com"
            aria-label="Github"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="socials__icon" width="20" height="20">
              <use href="./images/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a
            class="socials__link link"
            href="https://telegram.org"
            aria-label="Telegram"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="socials__icon" width="20" height="20">
              <use href="./images/sprite.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a
            class="socials__link link"
            href="https://facebook.com"
            aria-label="Facebook"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="socials__icon" width="20" height="20">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <a class="footer__link link" href="tel:+610383766284">
        Feel free to contact
        <span class="footer__label">+61 (0) 383 766 284</span>
      </a>
    </div>
  </div>
  <p class="footer__copyright">&#169; 2022 - IceCream. All Rights Reserved.</p>
</footer>
