<section class="gallery">
  <h2 class="visually-hidden">gallery</h2>
  <picture>
    <source
      srcset="
        /src/images/gallery/icecream-mobile-1x.jpg 1x,
        /src/images/gallery/icecream-mobile-2x.jpg 2x
      "
      media="(max-width: 767px)"
    />
    <source
      srcset="
        /src/images/gallery/icecream-tablet-1x.jpg 1x,
        /src/images/gallery/icecream-tablet-2x.jpg 2x
      "
      media="(max-width: 1199px)"
    />
    <source
      srcset="
        /src/images/gallery/icecream-desktop-1x.jpg 1x,
        /src/images/gallery/icecream-desktop-2x.jpg 2x
      "
      media="(min-width: 1200px)"
    />
    <img
      class="img"
      src="/src/images/gallery/icecream-mobile-1x.jpg"
      alt="icecream"
    />
  </picture>
</section>
