.about {
    background-color: var(--main-bg-cl);
    padding-top: 60px;
    margin-left: auto;
    margin-right: auto;


    &__label {
        font-weight: 700;
        font-size: 18px;
        line-height: 1.22;
        text-align: center;
        text-transform: uppercase;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 12px;
    }

    &__title {
        font-family: var(--secondary-font);
        font-size: 30px;
        line-height: 1.27;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 32px;

        @media screen and (min-width: 768px) {
            margin-bottom: 72px;
        }

        @media screen and (min-width: 1200px) {
            margin-bottom: 82px;
        }
    }

    &__wrap {

        @media screen and (min-width: 768px) {
            display: flex;
        }

    }

    &__icon {
        position: absolute;
        top: 21px;
        left: 0;
        margin-left: auto;
        margin-right: auto;
    }

    &__text {
        line-height: 1.76;
        letter-spacing: 0.04em;

        @media screen and (max-width:767px) {
            text-align: center;
        }

        @media screen and (min-width:768px) {
            padding: 0;
        }

        @media screen and (min-width:1200px) {
            font-size: 14px;
            line-height: 1.93;
        }
    }

    &__text--bigger {
        @media screen and (min-width: 1200px) {
            font-size: 16px;
            line-height: 1.75;
        }
    }

    &__text--hidden {
        @media screen and (max-width: 767px) {
            display: none;
        }
    }

    &__text:not(:first-child) {
        margin-top: 3px;

        @media screen and (min-width: 768px) {
            margin-top: 8px;
        }
    }

    &__text-box {

        @media screen and (max-width: 767px) {
            padding-left: 30px;
            padding-right: 30px;
            }

        @media screen and (min-width:768px) {
            max-width: 334px;
            margin-left: 32px;
        }

        @media screen and (min-width:1200px) {
            padding-top: 90px;
            max-width: 463px;
            margin-left: 100px;
        }
    }

    &__btn {
        display: flex;
        padding: 12 34;
        color: #000000;
        background-color: var(--accent-txt-cl);
        border: none;
        border-radius: 10px;
        margin-top: 20px;
        font-weight: 600;
        font-size: 14px;
        line-height: 1.3;
        cursor: pointer;
        align-items: center;
       

        transition: color var(--anim), background-color var(--anim);

        @media screen and (max-width:767px) {
            margin-left: auto;
            margin-right: auto;
        }

        @media screen and (min-width:768px) {
            margin-top: 48px;
        }
    }

    &__btn-icon{
        display: block;
        margin-left: 5px;
        fill: transparent;
        stroke: var(--dark-txt-cl);
        transition: stroke var(--anim);
        
    }

    &__btn:hover{
        background-color: #0A8817;
    }

    &__btn:focus{
        color: var(--main-txt-cl);
        background-color: #0A8817;
    }
}

.about__btn:focus .about__btn-icon {
    stroke: var(--main-txt-cl);
}

.yellow-circle {
    position: relative;
    display: block;
    background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
    box-shadow: 0px 4.5px 16.8px rgba(153, 114, 23, 0.25);
    border-radius: 140px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 767px) {
        margin-bottom: 62px;
        width: 278px;
        height: 278px;
    }

    @media screen and (min-width: 768px) {
        width: 334px;
        height: 330px;
        margin-left: 0;
        margin-right: 0;
        box-shadow: 0px 5.3px 19.9x;
        border-radius: 166px;
    }

    @media screen and (min-width: 1200px) {
        width: 490px;
        height: 490px;
        box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
        border-radius: 250px;
    }
}